<header class="main-header">

  <!-- Logo -->
  <a routerLink="/site" href="index2.html" class="logo bg-light-black-gradient">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>S</b>W</span>
    <!-- logo for regular state and mobile devices -->
    <span  class="logo-lg"><b>Star</b>Wars</span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav  class="navbar navbar-static-top bg-light-black-gradient">
    <!-- Sidebar toggle button-->
    <a *ngIf="isLoged" href="#" class="sidebar-toggle bg-light-black-gradient" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div  class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account: style can be found in dropdown.less -->
        <li *ngIf="isLoged" class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span (click)="logout()" class="hidden-xs">Logout</span>
          </a>
          
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a *ngIf="!isLoged" routerLink="/authentication" data-toggle="control-sidebar"><i class="fa fa-mail-forward"></i>
            Login
          </a>
        </li>
      </ul>
    </div>

  </nav>
</header>