<div class="box box-solid box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Registration Films</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-toggle="tooltip" title="Informações"><i class="fa fa-info"></i></button>
    </div><!-- /.box-tools -->
  </div><!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="btn-group btn-breadcrumb">
          <a href="#" class="btn btn-default" data-toggle="tooltip" title="Dado Identificação"><i class="glyphicon glyphicon-home hidden-lg"></i><span class="hidden-xs hidden-md">Dados Identificação</span></a>
          <a href="#" class="btn btn-default active"><i class="fa fa-user hidden-lg"></i><span class="hidden-xs hidden-md">Contato</span></a>
          <a href="#" class="btn btn-default"><i class="fa fa-home hidden-lg"></i><span class="hidden-xs hidden-md">Endereço</span></a>
          <a href="#" class="btn btn-default"><i class="fa fa-info hidden-lg"></i><span class="hidden-xs hidden-md">Outras Informações</span></a>
          <a href="#" class="btn btn-default"><i class="fa fa-file-text-o hidden-lg"></i><span class="hidden-xs hidden-md">Informaçôes Complementares</span></a>
          <a href="#" class="btn btn-default"><i class="fa fa-history hidden-lg"></i><span class="hidden-xs hidden-md">Historico Contato</span></a>
          <a href="#" class="btn btn-default"><i class="fa fa-bank hidden-lg"></i><span class="hidden-xs hidden-md">Dados Bancários</span></a>
        </div>
      </div>
    </div>
  </div><!-- /.box-body -->
</div>