<div class="box box-solid box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Registration Films</h3>
    <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-toggle="tooltip" title="Anterior"><i class="fa fa-step-backward"></i></button>
        <button class="btn btn-box-tool" data-toggle="tooltip" title="Próximo"><i class="fa fa-step-forward"></i></button>
        <button class="btn btn-box-tool" data-toggle="tooltip" title="Voltar"><i class="fa fa-undo"></i></button>
        <button class="btn btn-box-tool" data-toggle="tooltip" title="Salvar"><i class="fa fa-plus-square"></i></button>
      <button class="btn btn-box-tool" data-toggle="tooltip" title="Informações"><i class="fa fa-info"></i></button>
    </div><!-- /.box-tools -->
  </div><!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-xs-12 text-center"> 
        <div class="btn-group btn-breadcrumb">
          <ng-container *ngFor="let item of breadcrumbhead">
            <a href="#" class="btn btn-default" data-toggle="tooltip" title="item.title"><i class="fa fa-{{item.icon}} hidden-lg"></i><span
              class="hidden-xs hidden-md">{{item.title}}</span></a>
          </ng-container>
        </div><!-- /.btn-group -->
      </div><!-- /.col-xs-12 -->
    </div><!-- /.row --> 
  </div><!-- /.box-body -->
</div>