<div class="wrapper">
  <app-header></app-header>
  <app-tree-view-menu></app-tree-view-menu>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>Dashboard</h1>
      <small>V 2.0</small>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
  <!-- <app-settings></app-settings> -->
  <app-footer></app-footer>
</div>