<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <ng-template #recursiveList let-links>
                <ng-container *ngFor="let item of links">
                    <li *ngIf="item.header" class="header">{{item.header}}</li>

                    <li *ngIf="!item.sublinks && !item.external && !item.header">
                        <a [routerLink]="item.link" [routerLinkActive]="['active']">
                            <i class="fa fa-{{item.icon}}"></i>
                            <span>{{item.title}}</span>
                        </a>
                    </li>
                    <li *ngIf="item.external && !item.sublinks && !item.header">
                        <a [href]="item.link" [target]="item.target">
                            <i class="fa fa-{{item.icon}}"></i>
                            <span>{{item.title}}</span>
                        </a>
                    </li>
                    <li class="treeview" *ngIf="item.sublinks">
                        <a href="#">
                            <i *ngIf="item.icon" class="fa fa-{{item.icon}}"></i>
                            <span>{{item.title}}</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" *ngIf="item.sublinks">
                            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.sublinks }">
                            </ng-container>
                        </ul>
                    </li>
                </ng-container>
            </ng-template>
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: links }"> </ng-container>
        </ul>
    </section>
</aside>