<ul class="sidebar-menu" data-widget="tree">
    <ng-template #recursiveList let-links>
        <li class="treeview" *ngFor="let item of links">
            
            <a *ngIf="item.header" class="header">{{item.header}}</a>
            
            <a *ngIf="!item.sublinks && !item.external && !item.header" [routerLink]="item.link" [routerLinkActive]="['active']">
                <i class="fa fa-{{item.icon}}"></i>
                <span>{{item.title}}</span>
            </a>
            <a *ngIf="item.external && !item.sublinks && !item.header" [href]="item.link" [target]="item.target">
                <i class="fa fa-{{item.icon}}"></i>
                <span>{{item.title}}</span>
            </a>

            <a href="#" *ngIf="item.sublinks">
                <i *ngIf="item.icon" class="fa fa-{{item.icon}}"></i>
                <span>{{item.title}}</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu" *ngIf="item.sublinks">
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.sublinks }"> </ng-container>
            </ul>
        </li>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: links }"> </ng-container>
</ul>